.blue {
    background-color: #085fa8;
    color: #EAEAEA;
}

.lightBlue {
  background-color: #4389C4;
  color: #EAEAEA;
}

#banner {
  height: 15vw;
  width: 70vw;
  object-fit: cover;
  object-position: 50% 60%;
  overflow-y: hidden;
}

#bannerFooter {
  height: 3vw;
  width: 70vw;
  overflow-y: hidden;
}

#bannerFooterImage {
  height: 12vw;
  width: 70vw;
  object-fit: cover;
  object-position: 50% 124%;
  overflow-y: hidden;
}

#desc {
  height: 12vw;
  width: 70vw;

}

#react {
  color: #085fa8;
  width: 70vw;
}



#welcome {

  /*background-color: #120F0B;*/
  height: 14vw;
  overflow-y: hidden;
}


.topnav {
    background-color: #333;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #4389C4;
    color: black;
}


.active {
    background-color: #085fa8;
    color: white;
}


.topnav .icon {
    display: none;
}

a {
  background-color: transparent;
}

h1 {
  margin-top: 2vw;
  font-size: 4vw;
  text-align: center;


}

body {
  background-color: white;
}

h2 {
  margin-top: 1vw;
  font-size: 2vw;
  text-align: center;
}

#intro {
  background-color: inherit;
  text-align: center;
  font-size: 2.5vw;
  width: 66vw;
  margin: 2vw auto;
  color: #EAEAEA;
  vertical-align: center;
  overflow-y: hidden;
}

.skillBox {
  float: left;
  width: 24vw;
  padding: 2vw 5vw;
}

.skillBar {
  background-color: grey;
  display: inline-block;
  margin: 11% 0;
  height: 1.5vw;
  overflow-y: hidden;
  width: 16vw;
}

.fullSkillBar {
  display: inline-block;
  height: 2vw;
  width: 1%;
  margin-bottom: 4vw;
}

.skillImage {
  height: 7vw;
  width: 7vw;
}

.portfolioBox {
  float: left;
  width: 22vw;
  height: 8vw;
  padding: 3vw 0;
}

.portfolioImage {
  height: 7vw;
  width: 7vw;
  object-fit: contain;
  background-color: transparent;
  margin: 0 5vw;

}

.centerCircle {
  margin: 0 10vw;
}

#asuImage {
  width: 15vw;
}


#reactProgress {

    background-color: #61dafb;
}


#phpProgress {

    background-color: #ed6b75;
}

#cProgress {

    background-color: #00A800;
}

#reduxProgress {

    background-color:  #8A2BE2;
}

#additionalExplanation{
  margin-bottom: 2vw;
}

#portfolio {
  height: 20vw;
  overflow-y: hidden;
}

.skillImage{
  background-color: transparent;
}
